.galeria-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Se ajusta automáticamente */
    gap: 16px; /* Espaciado entre los paneles */
    padding: 16px;
  }
  
  .item-books {
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  